@import url("../../assets/fonts/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;200;300&display=swap");
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/*********************
BREAKPOINTS
*********************/
/*********************
BOOTSTRAP BREAKPOINTS
*********************/
/*********************
BREAKPOINTS: Usage
*********************/
/*
@include breakpoint(breakpointname) {
    ==== STYLES ====    
}
*/
.table {
  display: table;
}
.table-full {
  width: 100%;
  height: 100%;
  min-height: inherit;
  position: relative;
}
.table-full:after {
  content: "";
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.v-align-top {
  vertical-align: top;
}

.v-align-middle {
  vertical-align: middle;
}

.v-align-bottom {
  vertical-align: bottom;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

ul.inline-block-group {
  list-style: none;
  padding-left: initial;
}
ul.inline-block-group li {
  display: inline-block;
  vertical-align: middle;
}

.case-upper {
  text-transform: uppercase;
}

.case-lower {
  text-transform: lowercase;
}

.case-proper {
  text-transform: capitalize;
}

.m-auto {
  margin: auto;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.bp-rel {
  position: relative;
}

.o-hidden {
  overflow: hidden;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mobile-only {
  display: block;
}

.tablet-up {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
 Print styles.
 Inlined to avoid the additional HTTP request:
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
b, strong {
  font-weight: bold;
}

* {
  outline: none !important;
}

:root {
  --skintone-color: #DE9B72;
  --dark-color: #3A3D3E;
}

.main {
  height: 100%;
}

.body {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: 140% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

@media (min-width: 992px) {
  .body {
    background-size: 148vh !important;
    background-repeat: no-repeat !important;
    background-position: 50% -31vh !important;
  }
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.social-row {
  display: flex;
  flex-direction: column;
  right: 0;
  position: absolute;
}

@media (min-width: 768px) {
  .social-row {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.social-row a {
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em 0;
  z-index: 99;
  margin-bottom: 1em;
  margin-right: 1em;
}

@media (min-width: 768px) {
  .social-row a {
    width: 2.5em;
    height: 2.5em;
    padding: 1em 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .social-row a {
    width: 3em;
    height: 3em;
    padding: 0;
  }
}
.countach {
  font-family: countach, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tilda-petite {
  font-family: tilda-petite, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.skintone-text {
  color: var(--skintone-color);
}

.dark-text {
  color: var(--dark-color);
}

.white-text {
  color: #fff;
}

a:hover {
  color: #c2c2c2;
}

.dark-background {
  background: var(--dark-color);
}

.logo {
  width: 20vh;
}

@media (min-width: 768px) {
  .logo {
    width: 16em;
  }
}
@media (min-width: 992px) {
  .logo {
    width: 18em;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 28vh;
    height: 28vh;
  }
}
h1 {
  font-size: 4.5vh;
  letter-spacing: 4px;
  padding-top: 0.5em;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.75em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3em;
    letter-spacing: 5px;
  }
}
.lead {
  font-size: 1.5rem;
  padding-top: 0.5em;
}

@media (min-width: 992px) {
  .lead {
    font-size: 2rem;
    padding-top: 0.5em;
  }
}
@media (min-width: 1200px) {
  .lead {
    font-size: 2.5rem;
    padding-top: 1em;
  }
}
p.general {
  font-size: 2.5vh;
  margin-bottom: 0.5em;
  line-height: 1.25em;
}

@media (min-width: 992px) {
  p.general {
    font-size: 1.25em;
    line-height: 1.5em;
  }
}
@media (min-width: 1200px) {
  p.general {
    font-size: 1.5em;
  }
}
.inner-border {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2em;
}

.outer-border {
  border: 2px solid #DE9B72;
  height: 100%;
  width: 100%;
  padding: 6px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .outer-border {
    height: 94%;
  }
}
.mid-border {
  border: 6px solid #DE9B72;
  height: 100%;
  width: 100%;
  padding: 6px;
  margin: auto;
}
@media only screen and (min-width: 1025px) {
  .mid-border {
    min-width: 770px;
  }
}

.inner-border {
  position: relative;
  border: 2px solid #DE9B72;
  height: 100%;
  width: 100%;
  margin: auto;
}

/* Decorations */
.corner-decoration {
  position: absolute;
  width: 3em;
  margin: -3px;
}

@media (min-width: 768px) {
  .corner-decoration {
    width: 3.5em;
    margin: -4px;
  }
}
@media (min-width: 992px) {
  .corner-decoration {
    width: 4em;
    margin: -5px;
  }
}
@media (min-width: 1200px) {
  .corner-decoration {
    width: 5em;
    margin: -6px;
  }
}
.corner-decoration.corner-left-top {
  left: 0;
  top: 0;
}

.corner-decoration.corner-right-top {
  top: 0;
  right: 0;
  transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
  right: 0;
  bottom: 0;
  transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
  left: 0;
  bottom: 0;
  transform: scaleY(-1);
}

.vertical-decoration {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 11em;
  z-index: -1;
}

@media (min-width: 768px) {
  .vertical-decoration {
    width: 16em;
  }
}
@media (min-width: 992px) {
  .vertical-decoration {
    width: 20em;
  }
}
@media (min-width: 1200px) {
  .vertical-decoration {
    width: 25em;
  }
}
.vertical-decoration.top {
  top: 0;
}

.vertical-decoration.bottom {
  bottom: 0;
  transform: scaleY(-1);
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
            This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
            calculation of the height of the owl-item that breaks page layouts
         */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #5d2032;
}
body canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.main-greeting-container {
  position: absolute;
  bottom: 0;
  color: rgba(228, 188, 100, 0.7);
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(circle, #5d2032, #5d2032, rgba(93, 32, 50, 0));
}
.main-greeting-container--v2 {
  bottom: 10%;
  height: 30%;
}
.main-greeting-container .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 675px;
}
@media only screen and (max-width: 767px) {
  .main-greeting-container .content-container {
    max-width: 265px;
  }
}
.main-greeting-container #third {
  width: 100%;
}

.overlay-faded-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: 50%;
  z-index: -1;
  background: linear-gradient(to right, #e4bc64 4px, transparent 4px) 0 0, linear-gradient(to left, #e4bc64 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #e4bc64 4px, transparent 4px) 0 0, linear-gradient(to top, #e4bc64 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
@media only screen and (max-width: 767px) {
  .overlay-faded-bg {
    width: 95%;
    height: 70%;
  }
}
.overlay-faded-bg--bottom {
  background-image: linear-gradient(to top, rgba(93, 32, 50, 0), #5d2032);
  top: unset;
  height: 10%;
  bottom: 0;
}

.font-cursive {
  font-family: "Reey";
}

.font-common {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.custom-width {
  width: 300px;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  .custom-width {
    width: 200px;
  }
}

.animated .animated-child {
  opacity: 0;
}

.btn-container .btn {
  border: 1px solid #bc8e55;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bb8d55;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 0.1s, ease-out, 0.5s;
}
@media only screen and (max-width: 767px) {
  .btn-container .btn {
    margin-top: 0;
  }
}
.btn-container .btn.btn-yes {
  width: 100%;
  border-radius: 0;
}
.btn-container .btn.btn-no {
  width: 100%;
  border-radius: 0;
  opacity: 0.3;
}
.btn-container .btn.btn-agree {
  color: #5d2032;
  border-color: #5d2032;
}
.btn-container .btn:hover {
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
}

.map-container {
  border: 5px solid #e4bc64;
}

.desktop-view {
  display: none;
}
@media only screen and (min-width: 768px) {
  .desktop-view {
    display: block;
  }
}

.mobile-view {
  display: none;
}
@media only screen and (max-width: 767px) {
  .mobile-view {
    display: block;
  }
}

.modal {
  top: 50%;
  transform: translateY(-25%);
}
.modal .modal-content {
  background-color: #e4bc64;
  color: #5d2032;
  border-color: #e4bc64;
}
.modal .modal-header {
  border-color: #5d2032;
}
.modal .modal-footer {
  border: none;
}
.modal .modal-body input {
  color: #5d2032;
  font-family: "Reey";
  font-weight: 200;
  background-color: transparent;
  text-align: center;
  border-color: #5d2032;
  text-transform: capitalize;
}
.modal .modal-body input:hover, .modal .modal-body input:focus {
  box-shadow: none;
}
.modal .modal-body input[type=text], .modal .modal-body input[type=number] {
  padding: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  margin: auto;
  height: 35px;
  width: auto;
}
.modal .btn-yes {
  color: #5d2032;
  border-color: #5d2032;
  margin-top: 0;
}
.modal input:-webkit-autofill,
.modal input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.form-check-input:checked[type=radio] {
  background-image: none;
  background-color: #5d2032;
}

.bg-music {
  position: absolute;
  z-index: 9999;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}
.bg-music a {
  color: #e4bc64;
  text-decoration: none;
}

#seal-modal {
  display: none;
}
@media only screen and (max-width: 767px) {
  #seal-modal {
    display: block;
  }
}
#seal-modal .modal-content {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin: auto;
  background-image: url(../../assets/img/border.png);
  background-size: cover;
  background-color: transparent;
  border: 0;
}
#seal-modal .modal-content .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#seal-modal .modal-content .modal-body h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5vh;
}
#seal-modal .modal-content .modal-body h1:first-child {
  margin-right: 21%;
}
#seal-modal .modal-content .modal-body h1:nth-child(3) {
  margin-left: 21%;
}
#seal-modal .modal-content .modal-body .date {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
}
#seal-modal .modal-content .modal-body .btn-container {
  position: absolute;
  bottom: -10%;
}

.palete {
  width: 150px;
}

.hashtag-container {
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 767px) {
  .hashtag-container {
    flex-direction: column;
  }
}
/*# sourceMappingURL=build.css.map */